body{
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.cabecalho{
    margin: 0;
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff0000;
    width: 100%;
    height: 12vh;
    
}

h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    font-weight: 600;


}

img{
    scale: 10%;
}