body {
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow-x:hidden;

    
}

/*==========CABEÇALHO==========*/
.cabecalho {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #ff0000;
    width: 100%;
    height: 12vh;
    padding: 0 20px;
    position: fixed;
    z-index: 3;
    top: 0;

}


.imgMenu {
    width: 40px; 
    height: 40px;
    transition: transform 0.2s ease-in-out;
    filter: invert(100%) sepia(100%) hue-rotate(180deg);
    object-fit: contain;
    cursor: pointer;
}

.imgRotate {
    transform: rotate(180deg);
}

.imgMenu:hover{
    filter: invert(20%) sepia(100%) hue-rotate(180deg);
}

.imgTitulo {
    width: 200px; 
    height: 200px;
    object-fit: contain;
    margin-top: 15px;
}

.imgUsuario {
    width: 50px; 
    height: 50px;
    margin-right: 35px;
    object-fit: contain;
    cursor: pointer;
}
/*==========CABEÇALHO==========*/

/*==========MENU LATERAL==========*/

.boxMenu{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    align-items: flex-start;
    flex-direction: column;
    background-color: #be0000;
    height: calc(100vh - 12vh); 
    width: 25vw;    
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;
    position: fixed; 
    top: 12vh;
    left: 0;
    overflow-y: auto;
    z-index: 2; 
}
.boxMenuAnimacao {
    transform: translateX(0);
}


.buttomHome{
    display: flex;
    justify-content: flex-start;
    background-color: #be0000;
    padding-left: 30px;
    width: 100%;
    height: 8%;
    box-sizing: border-box;
    cursor: pointer;
}

.buttomHome:hover{
    background-color: #ff0000;
}

.imgHome {
    width: 40px; 
    height: 50%;
    transition: transform 0.2s ease-in-out;
    filter: invert(100%) sepia(100%) hue-rotate(180deg);
    object-fit: contain;
    cursor: pointer;
    margin-top: 18px;
    padding-right: 10px;
}

.textoHome{
    border: 0;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: 700;
    font-size: medium;
    width: 100%; 
    height: 100%;
    margin-top: 20px;



}

/*==========MENU LATERAL==========*/


.conteudo {
    display: grid;
    grid-template-areas:
    'header footer'
    'aside footer'
    'article section';
    grid-template-columns: 2fr 1fr;
    margin-top: 12vh; 
    background-color: #e0e0e0;
    z-index: 1;
}

header{
    grid-area: header;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    height: 300px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;

    border: 0;
    color: rgb(255, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: 700;
    font-size: 10px;
    overflow: hidden;
}

.boxCarrossel{
    background-color: #ff0000;
    overflow: hidden;
    height: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    grid-area: footer;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;

    border: 0;
    color: rgb(255, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: 700;
    font-size: 10px;
}

aside{
    grid-area: aside;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    height: 300px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;

    border: 0;
    color: rgb(255, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: 700;
    font-size: 10px;
}

article{
    grid-area: article;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    height: 100px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;

    border: 0;  
    color: rgb(255, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: 700;
    font-size: 10px;

}

section{
    grid-area: section;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    height: 100px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;

    border: 0;
    color: rgb(255, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: 700;
    font-size: 10px;

}

.boxRecados{
    background-color: #ff0000;
    width: 100%;
    height: 7%;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: 700;
    font-size: 7px;
}




